@{
    ViewData["Title"] = "Aggiungi pizza";
    Layout = "_Layout";
}

@model Pizza

<div class="container">
    <form asp-controller="Pizzeria" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Name:</strong>
            <input asp-for="Name" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Image:</strong>
            <input asp-for="Image" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Ingredients:</strong>
            <input asp-for="Ingredients" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Price:</strong>
            <input asp-for="Price" class="d-block w-100" />
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Aggiungi pizza">
        </div>
    </form>
</div>