@{
    ViewData["Title"] = "Dettagli pizza";
    Layout = "_Layout";
}

@model Pizza

<div class="row" style="">
    <div class="col d-flex justify-content-between align-items-center fs-4 pb-2">
        <div class="col-3">
            <img src="~/img/@Model.Image" style="width: 250px; height: 170px;" />
        </div>
        <div class="col-2 text-center fw-bold">
            @Model.Name
        </div>
        <div class="col-5 text-center">
            Ingredienti: @Model.Ingredients
        </div>
        <div class="col-1 text-center fw-bold">
            @Model.Price &euro;
        </div>
    </div>
</div>